.div1{
    height:50rem;
    width:100%;
    background: purple;
   
}

.div-btn{
    height:4rem;
    width: 100%;
    background:rgb(64, 0, 255);
    
    padding:5px;
}

.div-btn ul{
    display: flex;
    flex-direction: row;
     gap:20px;

}

.div-btn ul li{
    margin:20px 2rem 2px;
    list-style-type: none;
    cursor: pointer;
}

.div-api{
    height:30rem;
    width:100%;
    background: orange;
    
}